@import "tailwindcss";
@import "@k3vndev/tw-animations";

@source "../node_modules/@k3vndev/react-carousel";

@utility text-gradient-yellow {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-600;
}

@utility w-max-pad {
  max-width: calc(100vw - 4rem);
  width: 100vw;
}