@utility button {
  @apply cursor-pointer transition hover:brightness-125 active:brightness-75 active:scale-90 select-none disabled:pointer-events-none disabled:opacity-80;
}

@keyframes navigation-dots-autoplay-progress {
  to {
    opacity: var(--auto-scroll-opacity);
    transform: scale(var(--auto-scroll-scale));
    background-color: var(--auto-scroll-color);
  }
}
